<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>Events view</h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Name again..</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event}"></td>
        <td th:text="${event}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>