<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@${script.js}"></script>
    <link th:href="@${styles.css}">
</head>
<body>

<h1 th:fragment="styledHeader" class="fancyTitle"></h1>

<div th:fragment = "linkList">
    <a href = "https://www.launchcode.org">LaunchCode</a> <br/>
    <a href = "https://www.lego.com">Play Well</a> <br/>
    <a href = "https://www.webelements.com">Other Building Blocks</a>
</div>

<nav th:fragment="navigation">
    <p th:replace = "fragments :: linkList"></p>
    <a href="/events">Events</a>
    <br>
    <a href="/events/create">Create Event</a>
</nav>

</body>
</html>